/* Kommentar für css*/
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro|Dancing+Script&display=swap');

*
{
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    margin-top: 100px;
    color: antiquewhite;
    text-align: center;
    text-shadow: 1px 3px 2px black;

}
h2{
    text-align: center;
}
h3{
    text-align: center;
    color: black;
    font-size: 2em;
    text-shadow: 1px 3px 2px white;



}
/*Gestaltung der Navigation und der Fußzeile */
.site-nav-list,
.site-footer{
    background-color: blueviolet;
    padding: 0.9em;
    text-align: center;
    text-transform: uppercase;

}
.active:hover{
     background-color:rgb(195, 139, 189);
     border-radius: 3px;
     padding: 15px;
     margin: 15;
}
.site-nav-list .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;

}

/* Image principale: elle se fait avec #   */
#imageprincipale{
    padding-top: 60px;
    /* de 24 a 26 elle permet de fixer l'image pour qu'elle ne bouge plus */
    background: url(Style/imgPrincipale.PNG) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;

}
#premierTrait{
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: black;
    box-shadow: 1px 3px 2px black;
}



/*permet de comotiser les li*/
.site-nav-list li{
    display: inline-flex;
    /*permet de mettre les espaces entre les mots */
    margin-right: 4em;
    text-align: center;
}
/*permet de travailler au niveau des ref a */
.site-nav-list a,
.site-footer a{
    color: white;
    text-decoration: none;
}

.site-nav-list li:hover .sub-menu-1{

    display:block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.site-nav-list li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.site-nav-list li:hover .sub-menu-1 ul li{
    display: block;
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;


}
.site-nav-list li:hover .sub-menu-1 ul li a:hover{
    color:#b2ff00;
}
/* Gestaltung der Infoboxen */
.infoboxen{
    background-color:darkgray ;
    padding: 1em;
    margin-bottom: 1em;
}
.infobox{
    text-align: center;
    background-color: white;
    text-align: center;
    padding: 1em;
    margin: 1em;
}
/* Gestaltung der Kundenstimmen */
.kundenstimmen{
    background-color:#eee ;
    text-align: center;
    padding: 1em;
    margin:1em 0 ;
}